<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div>
        <form method="post">

            <fieldset>

                <legend>Choose the folder and reference file ...</legend>
            
                <label>Folder Name: </label>
                <input type="text" id="folderName", name="folderName" size=100><br>

                <label>File Select: </label>
                <input type="file" id="dicomn" name="dicom" multiple><br>

            </fieldset>

            <div id="label">{{ label }}</div>
            
            <input type="submit">
        </form>
    </div>

    <a rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/showList">
        Select redactions
    </a>


</body>
</html>


